.home {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right bottom,
        $color-blue,
        $color-purple);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    & > * {
        padding: 1rem;
    }

    &__header {
        display: flex;
        justify-content: center;
    }

    &__container {
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    &__btn {
        display: inline-block;
        background-color: #fff;
        border: .15em solid #fff;
        padding: 1rem 2rem;
        cursor: pointer;
        position: relative;
        transition: all .4s;
        backface-visibility: hidden;

        &,
        &::before {
            border-radius: 50rem;
        }

        &-text {
            font-size: 1.6rem;
            font-family: $font-2;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: .1rem;
            line-height: 1;
            background-image: linear-gradient(to right,
                $color-blue, $color-purple);
            background-size: cover;
            background-clip: text;
            backface-visibility: hidden;
            color: transparent;
            position: relative;
            z-index: 20;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            opacity: 0;
            z-index: 10;
            transition: all .4s;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 3rem 1rem rgba($color-purple, 0.2);

            &::before {
                animation: btnFade .4s backwards;
            }
        }
    }
}