.home {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    & > * {
        margin: 1rem;
    }

    & .logo {
        font-size: 10rem;

        @include respond(lg) {
            font-size: 8rem;
        }

        @include respond(md) {
            font-size: 6.8rem;
        }

        @include respond(sm) {
            font-size: 5.5rem;
        }

        @include respond(xs) {
            font-size: 4.2rem;
        }

        @include respond(mobileS) {
            font-size: 3.5rem;
        }
    }

    & .rps {
        width: 50rem;

        @include respond(lg) {
            width: 40rem;
        }

        @include respond(md) {
            width: 35rem;
        }

        @include respond(sm) {
            width: 27rem;
        }
    } 

    &__btn {
        display: inline-block;
        background-color: #fff;
        padding: .3em 1em;
        cursor: pointer;
        position: relative;
        transition: all .4s;
        backface-visibility: hidden;
        font-size: 3rem;

        @include respond(lg) {
            font-size: 2.6rem;
        }

        @include respond(md) {
            font-size: 2.3rem;
        }

        @include respond(sm) {
            font-size: 2.2rem;
        }

        &,
        &::before {
            border-radius: 50rem;
        }

        &-text {
            font-size: 100%;
            font-family: $font-2;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: .1rem;
            line-height: 1;
            background-image: linear-gradient(to right,
                $color-blue, $color-purple);
            background-size: cover;
            background-clip: text;
            backface-visibility: hidden;
            color: transparent;
            position: relative;
            z-index: 20;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            opacity: 0;
            z-index: 10;
            transition: all .4s;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 3rem 1rem rgba($color-purple, 0.2);

            &::before {
                animation: btnFade .4s backwards;
            }
        }
    }
}