.wrapper {
    display: block;
    width: 100%;
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 5rem;

    @include respond(sm) {
        padding: 0 2rem;
    }

    &--vertical {
        padding: 5rem;
    }
}