.avatar {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    &__container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .hat {
        position: absolute;
        top: 5%;
        left: 25%;
        width: 50%;
        height: 25%;
        //background-color: #fff;
        clip-path: polygon(15% 100%, 0 60%, 25% 60%, 50% 0, 75% 60%, 100% 60%, 85% 100%);
        z-index: 40;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            height: 60%;
            //background-color: rgb(250, 250, 250);
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40%;
            //background-color: rgb(245, 245, 245);
        }

        &.white  {@include hatComponents(#fff)}
        &.yellow {@include hatComponents($color-yellow)}
        &.orange {@include hatComponents($color-orange)}
        &.red    {@include hatComponents($color-red)}
        &.green  {@include hatComponents($color-green)}
        &.purple {@include hatComponents($color-purple)}
        &.blue   {@include hatComponents($color-blue)}
        &.grey   {@include hatComponents($color-grey)}
    }

    & .head {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        //background-color: rgb(255, 222, 199);
        z-index: 30;

        &.skin1 {background-color: #ffdbac}
        &.skin2 {background-color: #f1c27d;}
        &.skin3 {background-color: #e0ac69;}
        &.skin4 {background-color: #c68642;}
        &.skin5 {background-color: #8d5524;}
    }

    & .face {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        & > * {
            position: absolute;
        }

        & .eyes {
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                width: 30%;
                height: 100%;
                border-radius: 50%;
                background-color: rgb(50, 50, 50);
            }
            &::before {left: 0;}
            &::after {right: 0;}
        }

        & .mouth {
            top: 72%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgb(50, 50, 50);
            
        }

        &.meh {
            & .eyes {
                width: 50%;
                height: 15%;
            }

            & .mouth {
                width: 20%;
                height: 5%;
            }
        }
    }

    & .shirt {
        position: absolute;
        top: 75%;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: 20;

        &.white  {background-color: #fff;}
        &.yellow {background-color: $color-yellow;}
        &.orange {background-color: $color-orange;}
        &.red    {background-color: $color-red;}
        &.green  {background-color: $color-green;}
        &.purple {background-color: $color-purple;}
        &.blue   {background-color: $color-blue;}
        &.grey   {background-color: $color-grey;}
    }

    

    

    // CUSTOM CLASSES

}