.rps {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > *:not(:last-child) {
        margin-right: 10rem;
    }

    &__list {
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        justify-items: center;
    }

    &__img {
        height: 15rem;
        width: auto;

        grid-area: 1 / 1 / 2 / 2;
        visibility: hidden;

        &.visible {
            visibility: visible;
        }
    }

    &__list--left &__img {
        transform: rotate(90deg);

        &.fadeIn {
            animation: leftFadeIn .3s backwards;
        }
    }
    &__list--right &__img {
        transform: rotate(-90deg) rotateY(180deg);

        &.fadeIn {
            animation: rightFadeIn .3s backwards;
        }
    }
}