.rps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50rem;

    & > *:first-child {
        margin-right: 5rem;
    }

    &__list {
        flex: 1 1;
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        justify-items: center;
    }

    &__img {
        width: 100%;
        grid-area: 1 / 1 / 2 / 2;
        visibility: hidden;

        &.visible {
            visibility: visible;
        }
    }

    &__list--left &__img {

        &.fadeIn {animation: leftFadeIn .3s forwards;}
        &.fadeOut {animation: leftFadeOut .3s forwards;}
    }
    &__list--right &__img {
        transform: rotate(180deg) rotateX(180deg);

        &.fadeIn {animation: rightFadeIn .3s forwards;}
        &.fadeOut {animation: rightFadeOut .3s forwards;}
    }
}