.startGame {
    @include btn;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #fff;
    color: $color-orange;
    &:hover {
        box-shadow: 0 0 2rem 0.5rem rgba($color-red, 0.2);
    }
}