.userList {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &__player {
        display: grid;
        grid-template-columns: 1.5fr 7fr 3.5fr 2rem;
        column-gap: 2rem;
        align-items: center;
        padding: 1rem;
        border-radius: 1rem;

        &:nth-child(even) {
            background-color: rgb(250, 250, 250);
        }
    }

    &__name {
        font-family: $font-1;
        color: $color-blue;

        & .crown {
            color: $color-orange;
        }
    }

    &__type {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 300;

        &.admin::before {
            content: "admin";
            color: $color-red;
        }

        &.player::before {
            content: "player";
            color: $color-purple;
        }

        &.spectator::before {
            content: "spectator";
            color: #9e9e9e;
        }
    }

    &__kick {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;
        background-color: rgb(225, 225, 225);
        border-radius: .3rem;
        cursor: pointer;

        &:hover {
            background-color: $color-red;
        }
        
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: .3rem;
            background-color: #fff;
        }
    }
}