.settings-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  .content {
    padding: 2px 0;
    margin-bottom: 12px;

    &::before {
      position: relative;
      width: calc(100% - 24px);
      top: -8px;
      display: block;
      height: 1px;
      background: rgba(0, 0, 0, 0.2);
      content: '';
    }

    .input-group {
      display: flex;
      align-items: center;
      margin: 4px 0;

      .label {
        margin-right: 12px;
        width: 160px;
      }

      .ant-input-number {
        flex: 0 0 80px;

        &.big {
          flex-basis: 128px;
        }
      }
    }

    button {
      margin: 4px 24px 4px 0;
    }

    .toggle-wrapper {
      display: flex;
      align-items: center;
      span {
        flex: 0 1 256px;
      }
    }
    .ant-tag {
      margin: 4px 8px 4px 0;
      &.site-tag-plus {
        color: rgba(0, 0, 0, .45);
        cursor: pointer;
      }
    }

  }
}
