.Table-Wrapper {
  overflow-y: scroll;
  flex-grow: 1;

  .ant-table-container {
    &::after {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    &::before {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    .ant-table-content {
      overflow-y: visible;
    }

    thead {
      .ant-table-cell {
        background-color: lightgrey;
      }
    }
  }

  //.table-row-error {
  //  background-color: grey;
  //}

  .editable-cell {
    position: relative;
  }

  .ant-table-wrapper {
    a {
      color: #1890ff;
      opacity: 0.75;
      text-decoration: none;

      &:hover {
        opacity: 1;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .table-row-no-cui {
      background-color: yellow;
    }

    .table-row-error {
      background-color: grey;
    }
  }

  //.table-row-error {
  //  background-color: grey;
  //}

  .editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
  }

  //.editable-cell {
  //  position: relative;
  //}

  .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
  }
}

.controls {
  display: flex;

  > * {
    margin-right: 12px;
  }
}
