@import './actionBar.scss';
@import './sideBar.scss';

.game {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr min-content;

  & .actionBar {
    grid-area: 2 / 2 / 3 / 3;
  }

  & .sideBar {
    grid-area: 1 / 3 / 3 / 4;
  }
}
