.playerList {
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;

    & .playerCard {
      background-color: #fff;
      border-radius: 4rem;
      box-shadow: 0 0 4rem 0 rgba($color-purple, 1);
    }
  }

  &__demo {
    position: fixed;
    top: 5rem;
    left: 5rem;
  }
}
