.players {
  border: 1rem solid #fff;
  position: relative;

  & .playerItem {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &__avatar {
      width: 4rem;
      height: 4rem;
    }
  }

  &__demo {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 10000000;
  }
}
