$color-blue: #83b2ff;
$color-purple: #9b6ef3;
$color-green: #8bf18b;
$color-yellow: #ffe981;
$color-orange: #ff8650;
$color-red: #ff555e;
$color-grey: #2b2b2b;

$font-1: 'Open Sans', sans-serif;
$font-2: 'Squada One', cursive;
