$color-blue: #83B2FF;
$color-purple: #9B6EF3;
$color-green: #8BF18B;
$color-yellow: #FFE981;
$color-orange: #FF8650;
$color-red: #FF555E;

$font-1: 'Open Sans', sans-serif;
$font-2: 'Squada One', cursive;